In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('ShanghaiPOI2017-clean.csv')
df.head()

   Unnamed: 0   ID        GPSX       GPSY    GBCODE
0           0  1.0  121.296368  31.188324  990000.0
1           1  1.0  121.473360  31.228923  990000.0
2           2  1.0  121.399378  31.205028  990000.0
3           3  1.0  121.529628  31.271063  990000.0
4           4  2.0  121.169185  31.282332  990000.0

In [16]:
code = pd.read_csv('GBT35648-201-en.csv')
code.head()

     code category         translation
0  110000       餐饮          Restaurant
1  110100      中餐厅  Chinese Restaurant
2  110200      西餐厅  Western Restaurant
3  110300      快餐厅           Snack Bar
4  110400     自助餐厅           Cafeteria

Select just the Chinese Restaurant

In [17]:
chinese_restaurant = df[df['GBCODE']==110100]

Select the Western Restaurant

In [18]:
df_western = df[df['GBCODE']==110200]

Clean df

In [19]:
df_western.columns

Index(['Unnamed: 0', 'ID', 'GPSX', 'GPSY', 'GBCODE'], dtype='object')

In [20]:
del df_western['Unnamed: 0']
del df_western['ID']
del df_western['GBCODE']

Geometry

In [22]:
from shapely.geometry import Point # Shapely for converting latitude/longtitude to geometry
import geopandas as gpd

In [23]:
geometry = [Point(xy) for xy in zip(df_western['GPSX'], df_western['GPSY'])]

In [24]:
df_western['geometry'] = geometry

C:\Users\Aurelie\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [27]:
df_western.to_csv('df_western.csv', index=False)

## CARTO

https://chengaur.carto.com/builder/2479e079-7eee-4c36-a9d6-618c5a5fa427