In [1]:
import pandas as pd
import pinyin
import re

In [36]:
df_poi = pd.read_pickle("utseus-poi-dianping.pk")
df_poi.head()

,name,branch_name,address,telephone,city,avg_rating,product_grade,decoration_grade,service_grade,product_score,decoration_score,service_score,review_count,avg_price,photo_count,category,latitude,longitude,geometry
business_id,,,,,,,,,,,,,,,,,,,
500000,阿凡提美食娱乐城(这是一条测试商户数据，仅用于测试开发，开发完成后请申请正式数据...),,虹口区曲阳路775号天山宾馆B1楼,021-65559604,上海,30.0,1.0,1.0,1.0,6.8,6.3,6.3,482,81.0,140.0,新疆菜,31.290270,121.485969,POINT (121.4859694378507 31.29027007137677)
500001,萨莎(这是一条测试商户数据，仅用于测试开发，开发完成后请申请正式数据...),,徐汇区东平路11号,021-64746628,上海,40.0,1.0,1.0,1.0,7.3,8.4,7.4,891,149.0,441.0,酒吧,31.210445,121.445120,POINT (121.4451198540866 31.21044487104275)
500001,萨莎(这是一条测试商户数据，仅用于测试开发，开发完成后请申请正式数据...),,徐汇区东平路11号,021-64746628,上海,40.0,1.0,1.0,1.0,7.3,8.4,7.4,891,149.0,441.0,牛排,31.210445,121.445120,POINT (121.4451198540866 31.21044487104275)
500003,1221餐馆(这是一条测试商户数据，仅用于测试开发，开发完成后请申请正式数据...),,长宁区延安西路1221号,021-62136585,上海,35.0,1.0,1.0,1.0,7.1,7.4,7.6,369,144.0,182.0,本帮菜,31.213174,121.423148,POINT (121.4231477606538 31.21317357030482)
500008,Food Live(这是一条测试商户数据，仅用于测试开发，开发完成后请申请正式数据...),,浦东新区世纪大道88号金茂君悦大酒店B1楼,021-50491234-8283,上海,30.0,1.0,1.0,1.0,6.1,6.3,6.3,38,26.0,12.0,快餐简餐,31.237286,121.501334,POINT (121.501334104979 31.23728587667836)

# Clean data

Only italian restaurants

In [37]:
df_italian = df_poi[df_poi.category == '意大利菜']

Only in Shanghai

In [38]:
df_italian = df_italian[df_italian.city == '上海']

In [39]:
del df_italian['branch_name']

In [40]:
df_italian = df_italian.dropna()

Only with ratings and price info

In [41]:
df_italian = df_italian[(df_italian.avg_price > 0) & (df_italian.avg_rating > 0)]

Clean name

In [42]:
df_italian["name"]= df_italian["name"].str.split("\(这是", n = 1, expand = True)

Avg_rating /5

In [43]:
df_italian["avg_rating"] = df_italian["avg_rating"]/10

In [44]:
df_italian.head()

,name,address,telephone,city,avg_rating,product_grade,decoration_grade,service_grade,product_score,decoration_score,service_score,review_count,avg_price,photo_count,category,latitude,longitude,geometry
business_id,,,,,,,,,,,,,,,,,,
500018,华万意意大利餐厅,卢湾区太仓路181弄新天地北里7号楼,021-63112211,上海,4.0,1.0,1.0,1.0,7.7,8.4,8.0,470,323.0,450.0,意大利菜,31.220970,121.470366,POINT (121.4703657940751 31.22096982041834)
500030,艾迪多慕思,静安区延安西路200号文艺宾馆新楼1楼,021-62488499,上海,4.0,1.0,1.0,1.0,7.7,8.3,7.9,96,354.0,48.0,意大利菜,31.221541,121.437121,POINT (121.437120990457 31.2215406009454)
500123,李奥纳多达芬奇餐厅,静安区华山路250号希尔顿酒店1楼,021-62480000-1850,上海,4.0,1.0,1.0,1.0,7.7,8.5,8.2,458,296.0,654.0,意大利菜,31.221157,121.440849,POINT (121.4408490100962 31.22115746292159)
500137,大马可意大利餐厅,长宁区东诸安浜路103号维景酒店公寓1楼,021-62104495,上海,4.0,1.0,1.0,1.0,8.3,8.2,7.9,2052,146.0,1996.0,意大利菜,31.219969,121.429647,POINT (121.4296471036262 31.21996862255599)
500281,吉范尼斯,长宁区遵义南路5号虹桥喜来登上海太平洋大饭店27楼,021-62758888,上海,4.0,1.0,1.0,1.0,7.9,8.6,8.8,210,244.0,559.0,意大利菜,31.205442,121.400881,POINT (121.4008812133595 31.20544208780257)

In [45]:
df_italian.to_csv('map_italian.csv')

# Add Subway

In [62]:
df_subway = df_poi[df_poi.category == '地铁/轻轨']

In [63]:
df_subway["name"] = df_subway["name"].str.split("\(这是", n = 1, expand = True)

C:\Users\Aurelie\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [64]:
df_subway.head()

,name,branch_name,address,telephone,city,avg_rating,product_grade,decoration_grade,service_grade,product_score,decoration_score,service_score,review_count,avg_price,photo_count,category,latitude,longitude,geometry
business_id,,,,,,,,,,,,,,,,,,,
2069821,地铁电视,,虹口区地铁内,,上海,35.0,0.0,0.0,0.0,0.0,0.0,0.0,21,0.0,4.0,地铁/轻轨,31.245408,121.476801,POINT (121.4768012652263 31.24540756918102)
2071237,地铁通道广告,,虹口区上海地铁内,,上海,30.0,0.0,0.0,0.0,0.0,0.0,0.0,21,0.0,1.0,地铁/轻轨,31.245408,121.476801,POINT (121.4768012652263 31.24540756918102)
2075992,上海磁浮列车,,浦东新区龙阳路-浦东国际机场,021-28907777,上海,40.0,0.0,0.0,0.0,0.0,0.0,0.0,524,45.0,444.0,地铁/轻轨,31.150870,121.796740,POINT (121.7967401208635 31.15087027375992)
2199364,陆家嘴地铁站,,浦东新区陆家嘴环路,,上海,30.0,0.0,0.0,0.0,0.0,0.0,0.0,4,0.0,1.0,地铁/轻轨,31.240111,121.497555,POINT (121.4975552656481 31.24011128353062)
2445064,京沪快线,,长宁区空港一路458号虹桥国际机场2楼出发大厅,,上海,30.0,0.0,0.0,0.0,0.0,0.0,0.0,13,1372.0,3.0,地铁/轻轨,31.194606,121.344564,POINT (121.3445638564243 31.19460615063896)

Clean

In [65]:
df_subway = df_subway[(df_subway.longitude > 0) & (df_subway.latitude > 0)]

In [66]:
df_subway['name_pinyin'] = df_subway['name'].apply(lambda x: re.sub('((dìtiě)|(zhàn)|(hàoxiàn)|[（）()/\d])*','', pinyin.get(x)).strip())

In [67]:
df_subway = df_subway.drop(2069821)

In [68]:
from shapely.geometry import Point # Shapely for converting latitude/longtitude to geometry
import geopandas as gpd

In [69]:
geometry = [Point(xy) for xy in zip(df_subway['longitude'], df_subway['latitude'])]

In [70]:
df_subway['geometry'] = geometry

In [71]:
df_subway['indexes'] = df_subway['name'].str.find('地铁站')

In [72]:
df_subway = df_subway[df_subway.indexes>0]

In [73]:
df_subway = df_subway[['name', 'longitude', 'latitude', 'name_pinyin', 'geometry']]

In [74]:
df_subway.head()

,name,longitude,latitude,name_pinyin,geometry
business_id,,,,,
2199364,陆家嘴地铁站,121.497555,31.240111,lùjiāzǔi,POINT (121.4975552656481 31.24011128353062)
4710716,虹口足球场地铁站,121.475023,31.272511,hóngkǒuzúqíucháng,POINT (121.4750229003518 31.27251067618418)
5231439,娄山关路地铁站,121.399260,31.212833,lóushānguānlù,POINT (121.3992603431565 31.21283335357225)
5236217,静安寺地铁站（2/7号线）,121.443425,31.225635,jìngānsì,POINT (121.4434245083007 31.22563528277637)
5237935,桂林路地铁站,121.414181,31.176798,gùilínlù,POINT (121.4141808217547 31.17679814715772)

In [75]:
df_subway.to_csv('subway.csv')

## Carto

https://chengaur.carto.com/builder/6363bd15-53fa-4ae2-b4b1-0e4449a6b6ee/embed