In [1]:
import pandas as pd

In [12]:
df = pd.read_csv('ShanghaiPOI2017-clean.csv')
df.head()

   Unnamed: 0   ID        GPSX       GPSY    GBCODE
0           0  1.0  121.296368  31.188324  990000.0
1           1  1.0  121.473360  31.228923  990000.0
2           2  1.0  121.399378  31.205028  990000.0
3           3  1.0  121.529628  31.271063  990000.0
4           4  2.0  121.169185  31.282332  990000.0

In [15]:
code = pd.read_csv('GBT35648-201-en.csv')
code.head()

     code category         translation
0  110000       餐饮          Restaurant
1  110100      中餐厅  Chinese Restaurant
2  110200      西餐厅  Western Restaurant
3  110300      快餐厅           Snack Bar
4  110400     自助餐厅           Cafeteria

Select just the Chinese Restaurant

In [17]:
chinese_restaurant = df[df['GBCODE']==110100]

In [23]:
western = df[df['GBCODE']==110200]

In [24]:
western

         Unnamed: 0      ID        GPSX       GPSY    GBCODE
116095       116095   297.0  121.504204  31.232218  110200.0
116096       116096   297.0  121.495457  31.261508  110200.0
116097       116097   297.0  121.486214  31.246454  110200.0
1586242     1586242  2907.0  121.451961  31.221615  110200.0
1640694     1640694  3096.0  121.373643  31.110046  110200.0
1640695     1640695  3096.0  121.470030  31.216821  110200.0
1644625     1644625  3122.0  121.487283  31.247887  110200.0
1644626     1644626  3122.0  121.488539  31.233635  110200.0
1644627     1644627  3122.0  121.493787  31.238517  110200.0
1644628     1644628  3122.0  121.378681  31.196010  110200.0
1647627     1647627  3145.0  121.435818  31.260095  110200.0
1647764     1647764  3156.0  121.440141  31.232383  110200.0
1648242     1648242  3169.0  121.390531  31.225054  110200.0
1648243     1648243  3169.0  121.462638  31.274798  110200.0
1648244     1648244  3169.0  121.511593  31.231831  110200.0
1648245     1648245  3169.0  121.486234  31.236434  110200.0
1648246     1648246  3169.0  121.469924  31.217045  110200.0
1648283     1648283  3172.0  121.493958  31.238166  110200.0
1648284     1648284  3172.0  121.402720  31.207536  110200.0
1648294     1648294  3178.0  121.492885  31.242878  110200.0
1648295     1648295  3178.0  121.464492  31.233325  110200.0
1648296     1648296  3178.0  121.468447  31.194071  110200.0
1648297     1648297  3178.0  121.339418  31.080357  110200.0
1648298     1648298  3178.0  121.486466  31.235776  110200.0
1648299     1648299  3178.0  121.449054  31.229606  110200.0
1648300     1648300  3178.0  121.537131  31.217908  110200.0
1648301     1648301  3178.0  121.557485  31.212045  110200.0
1648302     1648302  3178.0  121.212212  31.289261  110200.0
1648303     1648303  3178.0  121.484757  31.251014  110200.0
1648304     1648304  3178.0  121.490416  31.404229  110200.0
...             ...     ...         ...        ...       ...
1650028     1650028  3178.0  121.493624  31.238585  110200.0
1650029     1650029  3178.0  121.503563  31.275175  110200.0
1650030     1650030  3178.0  121.512420  31.225071  110200.0
1650031     1650031  3178.0  121.445607  31.202532  110200.0
1650032     1650032  3178.0  121.370714  31.274079  110200.0
1650033     1650033  3178.0  121.491772  31.263378  110200.0
1650034     1650034  3178.0  121.489072  31.251960  110200.0
1650035     1650035  3178.0  121.483071  31.231315  110200.0
1650036     1650036  3178.0  121.444807  31.229279  110200.0
1650037     1650037  3178.0  121.513863  31.217425  110200.0
1650038     1650038  3178.0  121.503355  31.236851  110200.0
1650039     1650039  3178.0  121.503355  31.236851  110200.0
1650040     1650040  3178.0  121.492681  31.237275  110200.0
1650041     1650041  3178.0  121.501185  31.222202  110200.0
1650042     1650042  3178.0  121.400879  31.165732  110200.0
1650043     1650043  3178.0  121.488384  31.233673  110200.0
1650044     1650044  3178.0  121.468688  31.238376  110200.0
1650045     1650045  3178.0  121.248840  31.385276  110200.0
1650046     1650046  3178.0  121.525984  31.224039  110200.0
1650047     1650047  3178.0  121.559096  31.215062  110200.0
1650048     1650048  3178.0  121.475132  31.281660  110200.0
1650049     1650049  3178.0  121.462192  31.244715  110200.0
1650050     1650050  3178.0  121.537468  31.267399  110200.0
1650051     1650051  3178.0  121.439596  31.221198  110200.0
1650052     1650052  3178.0  121.479338  30.917941  110200.0
1650053     1650053  3178.0  121.388136  31.217380  110200.0
1650054     1650054  3178.0  121.404151  31.089798  110200.0
1650055     1650055  3178.0  121.401309  31.133018  110200.0
1650056     1650056  3178.0  121.463064  31.210421  110200.0
1650057     1650057  3178.0  121.383507  31.193128  110200.0

[1783 rows x 5 columns]

In [26]:
western.to_csv('western.csv', index=False)