In [22]:
import pandas as pd

In [23]:
df_poi = pd.read_pickle("utseus-poi-dianping.pk")
df_poi.head()

,name,branch_name,address,telephone,city,latitude,longitude,avg_rating,product_grade,decoration_grade,service_grade,product_score,decoration_score,service_score,review_count,avg_price,photo_count,category
business_id,,,,,,,,,,,,,,,,,,
500000,阿凡提美食娱乐城(这是一条测试商户数据，仅用于测试开发，开发完成后请申请正式数据...),,虹口区曲阳路775号天山宾馆B1楼,021-65559604,上海,31.288305,121.490440,30.0,1.0,1.0,1.0,6.8,6.3,6.3,482,81.0,140.0,新疆菜
500001,萨莎(这是一条测试商户数据，仅用于测试开发，开发完成后请申请正式数据...),,徐汇区东平路11号,021-64746628,上海,31.208550,121.449710,40.0,1.0,1.0,1.0,7.3,8.4,7.4,891,149.0,441.0,酒吧
500001,萨莎(这是一条测试商户数据，仅用于测试开发，开发完成后请申请正式数据...),,徐汇区东平路11号,021-64746628,上海,31.208550,121.449710,40.0,1.0,1.0,1.0,7.3,8.4,7.4,891,149.0,441.0,牛排
500003,1221餐馆(这是一条测试商户数据，仅用于测试开发，开发完成后请申请正式数据...),,长宁区延安西路1221号,021-62136585,上海,31.211315,121.427780,35.0,1.0,1.0,1.0,7.1,7.4,7.6,369,144.0,182.0,本帮菜
500008,Food Live(这是一条测试商户数据，仅用于测试开发，开发完成后请申请正式数据...),,浦东新区世纪大道88号金茂君悦大酒店B1楼,021-50491234-8283,上海,31.235252,121.505745,30.0,1.0,1.0,1.0,6.1,6.3,6.3,38,26.0,12.0,快餐简餐

# Clean data

In [25]:
df_italian = df_poi[df_poi.category == '意大利菜']

In [26]:
df_italian = df_italian[df_italian.city == '上海']

In [27]:
del df_italian['branch_name']

In [28]:
df_italian = df_italian.dropna()

In [30]:
df_italian = df_italian[(df_italian.avg_price > 0) & (df_italian.avg_rating > 0)]

In [33]:
df_italian["name"]= df_italian["name"].str.split("\(这是", n = 1, expand = True)

In [35]:
df_italian.head()

,name,address,telephone,city,latitude,longitude,avg_rating,product_grade,decoration_grade,service_grade,product_score,decoration_score,service_score,review_count,avg_price,photo_count,category
business_id,,,,,,,,,,,,,,,,,
500018,华万意意大利餐厅,卢湾区太仓路181弄新天地北里7号楼,021-63112211,上海,31.219019,121.474884,40.0,1.0,1.0,1.0,7.7,8.4,8.0,470,323.0,450.0,意大利菜
500030,艾迪多慕思,静安区延安西路200号文艺宾馆新楼1楼,021-62488499,上海,31.219666,121.441730,40.0,1.0,1.0,1.0,7.7,8.3,7.9,96,354.0,48.0,意大利菜
500123,李奥纳多达芬奇餐厅,静安区华山路250号希尔顿酒店1楼,021-62480000-1850,上海,31.219276,121.445450,40.0,1.0,1.0,1.0,7.7,8.5,8.2,458,296.0,654.0,意大利菜
500137,大马可意大利餐厅,长宁区东诸安浜路103号维景酒店公寓1楼,021-62104495,上海,31.218105,121.434270,40.0,1.0,1.0,1.0,8.3,8.2,7.9,2052,146.0,1996.0,意大利菜
500281,吉范尼斯,长宁区遵义南路5号虹桥喜来登上海太平洋大饭店27楼,021-62758888,上海,31.203594,121.405530,40.0,1.0,1.0,1.0,7.9,8.6,8.8,210,244.0,559.0,意大利菜

# Geometry

In [36]:
from shapely.geometry import Point # Shapely for converting latitude/longtitude to geometry
import geopandas as gpd

In [37]:
geometry = [Point(xy) for xy in zip(df_italian['longitude'], df_italian['latitude'])]

In [38]:
df_italian['geometry'] = geometry

In [39]:
df_italian.head()

,name,address,telephone,city,latitude,longitude,avg_rating,product_grade,decoration_grade,service_grade,product_score,decoration_score,service_score,review_count,avg_price,photo_count,category,geometry
business_id,,,,,,,,,,,,,,,,,,
500018,华万意意大利餐厅,卢湾区太仓路181弄新天地北里7号楼,021-63112211,上海,31.219019,121.474884,40.0,1.0,1.0,1.0,7.7,8.4,8.0,470,323.0,450.0,意大利菜,POINT (121.474884 31.219019)
500030,艾迪多慕思,静安区延安西路200号文艺宾馆新楼1楼,021-62488499,上海,31.219666,121.441730,40.0,1.0,1.0,1.0,7.7,8.3,7.9,96,354.0,48.0,意大利菜,POINT (121.44173 31.219666)
500123,李奥纳多达芬奇餐厅,静安区华山路250号希尔顿酒店1楼,021-62480000-1850,上海,31.219276,121.445450,40.0,1.0,1.0,1.0,7.7,8.5,8.2,458,296.0,654.0,意大利菜,POINT (121.44545 31.219276)
500137,大马可意大利餐厅,长宁区东诸安浜路103号维景酒店公寓1楼,021-62104495,上海,31.218105,121.434270,40.0,1.0,1.0,1.0,8.3,8.2,7.9,2052,146.0,1996.0,意大利菜,POINT (121.43427 31.218105)
500281,吉范尼斯,长宁区遵义南路5号虹桥喜来登上海太平洋大饭店27楼,021-62758888,上海,31.203594,121.405530,40.0,1.0,1.0,1.0,7.9,8.6,8.8,210,244.0,559.0,意大利菜,POINT (121.40553 31.203594)

In [40]:
df_italian.to_csv('map_italian.csv')

In [45]:
df_italian.avg_rating.describe()

count    204.000000
mean      40.318627
std        5.347201
min       30.000000
25%       35.000000
50%       40.000000
75%       45.000000
max       50.000000
Name: avg_rating, dtype: float64